/*
    This style sheet manages the layout and style for all controls inside the
    MV JavaFX application. Note that the stylesheet has been setup such that
    all colors in use are declared first as swatch colors inside the root 
    and so one can change the color theme used by the app simply by changing
    these colors.

    Note that Material Design icons are being employed for all icon buttons
    in this application, both for the Desktop Java Framework's top toolbar
    as well as for icon buttons in the M3's edit toolbar. Note that this
    app uses icons from https://material.io/icons/ and icon image sizes in
    use are as follows:
        djf top toolbar buttons: 36x36
        

    @author Richard McKenna
    @version 1.0
    @co-author Hyejun Jeong
*/
.root{
    /* 
        FIRST WE'LL DEFINE OUR SWATCHES, i.e. THE COMPLEMENTARY
        COLORS THAT WE'LL USE TOGETHER IN MULTIPLE PLACES THAT
        TOGETHER WILL MAKE UP A GIVEN THEME
    */
    -swatch-neutral:        #E6E6E6;
    -swatch-primary-up:     #A8C0AD;
    -swatch-primary:        #C9E0CD;
    -swatch-primary-down:   #E9E0ED;
    -swatch-complement:     #E1E4CB;
    -swatch-accent:         #227722;
    -swatch-bright-accent:  #d84533;
    
    -fx-font-family: "Arial";
}
/** 
    FIRST WE HAVE THE CONTROLS THAT THE DESKTOP JAVA FRAMEWORK
    MAY BE MAKING USE OF:
        .djf_top_toolbar: toolbar running the length of the top
        .djf_top_toolbar_pane: a pane in the top toolbar with buttons
        .djf_icon_button: buttons in the top toolbar panes
**/

.djf_top_toolbar {
    -fx-background-color:   -swatch-neutral;
    -fx-border-color:       -swatch-accent;
    -fx-border-width:       2;
    -fx-border-radius:      15;
}
.djf_toolbar_pane {
    -fx-background-color:   -swatch-complement;
    -fx-border-color:       -swatch-accent;
    -fx-border-width:       2;
    -fx-border-radius:      15;
}
.djf_icon_button {
    -fx-background-color:   transparent;
    -fx-pref-height:        32;
    -fx-pref-width:         32;
    -fx-min-height:         32;
    -fx-min-width:          32;
    -fx-max-height:         32;
    -fx-max-width:          32;

    -fx-padding:            2;
}
.djf_icon_button:hover {
    -fx-background-color: linear-gradient(-swatch-primary-down, -swatch-primary-up);    
}
.djf_welcome_banner {
    -fx-border-color:transparent;
    -fx-border-width:10;
}
.djf_welcome_header {
    -fx-font-size: 32pt;
    -fx-background-color: transparent;
}
.djf_welcome_recent_pane {
    -fx-padding: 20 20 20 20;
    -fx-background-color:transparent;
}
.djf_welcome_recent_button {
    -fx-font-size: 14pt;
    -fx-underline: true;
    -fx-text-fill: blue;
    -fx-background-color:transparent;
}
.djf_welcome_recent_button:hover {
    -fx-text-fill: magenta;
}
.djf_welcome_recent_button:pressed {
    -fx-text-fill: yellow;
}
.djf_welcome_new_pane {
    -fx-background-color:transparent;
}
.djf_welcome_new_button {
    -fx-font-size:20pt;
    -fx-background-color:transparent;
    -fx-border-width:2px;
    -fx-border-color:black;
    -fx-border-radius:15px;
}
.djf_welcome_new_button:hover{
    -fx-background-color:-swatch-primary;
}
.djf-welcome_new_button:pressed{
    -fx-background-color:-swatch-accent;
}

.djf_big_header, .djf_text_field {
    -fx-font-color: black;
    -fx-font-weight: bold;
    -fx-padding: 10 10 10 10;
}
.djf_big_header {
    -fx-font-size: 24pt;
    -fx-text-alignment: center;
}

.djf_pane, .dfj_box {
    -fx-background-color: #E39F9F;
       
    -fx-border: 1 1 0 0;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-padding: 15 15 15 15;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
}
.djf-pane {
    -fx-spacing: 3 3 3 3;
}/**
    NEXT THE APP-SPECIFIC CONTROLS
**/

 /**
    clip_pane? split pane?
 **/
.rvmm_map_clip_pane {
    -fx-border: 1 1 1 1;
    -fx-border-color: black;
    -fx-border-radius: 4;
}

 /**
    clip_pane? split pane?
 **/
.rvmm_bottom_pane, .rvmm_box{
    -fx-background-color: rgb(201, 224, 205);
    -fx-border: 1 1 0 0;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-padding: 15 15 15 15;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
}

.rvmm_bottom_pane {
    -fx-spacing: 3 3 3 3;
}

/*}
.rvmm_prompt {
    -fx-background-color: rgb(255, 255, 255);
    -fx-font-size: 14pt;
    -fx-min-width: 130px;
    -fx-max-width: 130px;
}*/

.rvmm_map_ocean {    
    -fx-fill:
        radial-gradient(radius 200%, #9999ff, derive(#9999ff, -70%), derive(#9999ff, 70%));
}

.rvmm_map_land {
    -fx-fill:
        linear-gradient(derive(chartreuse, -40%) 0%, derive(chartreuse, -20%) 25%, chartreuse 50%, derive(chartreuse, 20%) 75%, derive(chartreuse, 40%) 100%);
}
.rvmm_map_mouse_over_land {
    -fx-fill:
        linear-gradient(derive(pink, -40%) 0%, derive(pink, -20%) 25%, pink 50%, derive(pink, 20%) 75%, derive(pink, 40%) 100%);
}

.tooltip {
    -fx-font-size:14pt;
    -fx-background-radius: 50 50 50 50;
    -fx-background-color:-swatch-bright-accent;
}


/**
    NEXT THE APP-SPECIFIC CONTROLS
**/

.rvmm_text_button, .rvmm_icon_button {
    -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
}
.rvmm_text_button:pressed, .rvmm_icon_button:pressed {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );    
    -fx-background-color:
        linear-gradient(#c9e0cd, #a9d0bd),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
}
.rvmm_text_button:hover, .rvmm_icon_button:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );    
}
.rvmm_text_button{
    -fx-max-width:130px;
    -fx-min-height:50px;
    -fx-max-height:50px;
}

.rvmm_pane, .rvmm_box {
    -fx-background-color: rgb(201, 224, 205);
    -fx-border: 1 1 0 0;
    -fx-border-color: black;
    -fx-border-radius: 10;
    -fx-padding: 15 15 15 15;
    -fx-effect: dropshadow(three-pass-box, purple, 10, 0, 0, 0);
    -fx-text-alignment: center;
    -fx-hpos: center;
}
.rvmm-pane {
    -fx-spacing: 3 3 3 3;
}
.rvmm_big_header, .rvmm_small_header, .rvmm_prompt, .rvmm_text_field {
    -fx-hpos: center;
    -fx-vpos: center;
    -fx-text-alignment: center;
    -fx-font-color: black;
    -fx-font-weight: bold;
    -fx-padding: 10 10 10 10;
}
.rvmm_big_header {
    -fx-font-size: 24pt;
}
.rvmm_small_header {
    -fx-font-size: 16pt;
}
.rvmm_prompt {
    -fx-font-weight: bold;
    -fx-font-size: 10pt;
    -fx-min-width: 130px;
    -fx-max-width: 130px;
}
.rvmm_text_field {
    -fx-font-size: 14pt;
    -fx-min-width: 250px;
    -fx-max-width: 250px;
}
.rvmm_table {
    -fx-font-size: 12pt;
}
.column-header {
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
}
.table-row-cell:empty {
    -fx-background-color: #777777;
    -fx-border-color: #777777;
} 

/* FOR DIALOGS */
.rvmm_dialog_grid {
    -fx-background-color: -swatch-primary;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 10;
    -fx-hgap: 10;
    -fx-vgap: 10;
}
.rvmm_dialog_header {
    -fx-font-weight: bold;
    -fx-font-size: 18pt
}
.rvmm_dialog_prompt {
    -fx-font-weight: bold;
    -fx-font-size: 14pt;
}
.rvmm_dialog_text_field, .rvmm_dialog_color_picker {
    -fx-min-width:250px;
    -fx-max-width:250px;
    -fx-min-height:50px;
    -fx-max-height:50px;
    -fx-font-weight:bold;
    -fx-font-size:14pt;
}
.rvmm_dialog_button {
    -fx-min-width:100px;
    -fx-max-width:100px;
    -fx-min-height:50px;
    -fx-max-height:50px;
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
}